@use 'variables' as *;
@use 'normalize';
@use 'movie';
@use 'movies';
@use 'loading-spinner';
@use 'keyboard';

.game {
  display: grid;
  place-items: center;
}

.gameboard {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  margin: 1rem;
}

.letter {
  flex: 33%;
  height: 100%;
  display: grid;
  margin: 0.1rem;
  border: solid grey 1px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  place-items: center;
  border-radius: 10%;
  text-transform: uppercase;
  background-color: rgb(21, 19, 19);

  &__correct {
    background-color: rgb(31, 176, 31);
  }

  &__close {
    background-color: rgb(140, 140, 0);
  }

  &__false {
    background-color: rgb(90, 90, 90);
  }
}

body {
  background-color: $dark-purple;
  color: $text;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}

header,
main,
footer {
  max-width: 80rem;
  margin: auto;
  padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  color: $white;
  font-family: sans-serif;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: orange;
  color: $black;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  &[disabled] {
    background: $text;
  }
}

a {
  color: $light-red;
  &:hover,
  &:focus {
    color: $medium-red;
  }
}

.error {
  color: $medium-red;
  font-size: 2rem;
}

.main-navigation {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  > a {
    text-decoration: none;
  }
}
